body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: cursive;
  background: #e0e5ec;
  overflow: hidden;
}

.logo {
  width: 290px; 
  height: auto;
  margin-top: -80px;
  margin-bottom: -60px;

}




h2 {
  color: rgb(42, 50, 95);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 10px;
}

.year {
  font-size: 5em;
 color:#332b68 ;
  font-weight: bold;
}

.countdown {
  margin: 30px 0;
   background: #e0e5ec;
  width: 30%; 
  max-width: 700px;
  color:#332b68;
  height: 120px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  
  padding: 20px;
    border-radius: 20px;
  box-shadow: 10px 10px 30px #93a3b8, -10px -10px 30px #d3d2d2;
}

.countdown div {
  font-size: 2.2em;
  font-weight: 500;
  position: relative;
  text-align: center;
  flex: 1;
}

.countdown div::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 0.35em;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%;
  height: 35px;
}

.countdown #day::before {
  content: "Days";
}

.countdown #hour::before {
  content: "Hours";
}

.countdown #minute::before {
  content: "Minutes";
}
@media (max-width: 480px) {
  .logo {
    width: 200px;
    margin-top: -30px;
    margin-bottom: -20px;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: 2px;
  }

  .year {
    font-size: 2.5em;
  }

  .countdown {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .countdown div {
    font-size: 1.6em;
  }

  .countdown div::before {
    bottom: -22px;
    font-size: 0.4em;
  }
}
.countdown #second::before {
  content: "Seconds";
}

